@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #111827;
	--color-secondary: #64748b;
	--color-success: #10B981;
	--color-warning: #f59e0b;
	--color-error: #dc2626;
	--color-info: #0284c7;
}

.dark {
	--color-background: #0f172a;
	--color-surface: #020617;
}
